#wrapper {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 500px;
    height: 500px;
    border: 1px solid purple;
}
#startTime {
    background-color: purple;
    margin-left 33%;
    padding 15px 32 px;
    font-size: 20px;
    color: white;
}
#questionsDiv {
    margin: 20px;
    
}
/* body {
    background-color: #1b1249;
    padding: 40px;
  }

  header {
      width: 100%;
      background-color: #1b1249;
  }

  header div {
      margin: 25px;
      font-size: 30px;
      color: #CA9116;
  }

  #timing {
      display: inline-block;
      text-align: left;
  }

  #high-score a {
      text-decoration: none;
      color: inherit;
  }

  #start-page,
  #qa-page,
  #results {
      margin: auto;
      width: 50%;
      height: 75%;
      text-align: center;
      line-height: 100px;
      background-color:#CA9116;
      border: #C60DD3;
      border-radius: 25px;
  }

  body h1 {
      font-size: 120px;
      color: #BA473B;
  }

  body h2,
  h3 {
      font-size: 3opx;
      color: #BA473B;
  }

  button {
      font-size: 32px;
      color: #CA9116;
      border-radius: 10px;
      margin: 20px;
  }

.btn {
    width: 80%;
}

input {
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #CA9116;
    background-color: #1b1249;
    border: #C60DD3 2px solid;
}

.hide {
    display:none;
}

.show {
    display:block;
} */



